.title {
    /* -webkit-text-stroke: 5.3px; */
    /* -webkit-text-stroke-color: magenta; */
    border-radius: 3px;
    border-color: #000000;
    color: black;
    font-family: Filson Soft;
    font-size: 86px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    letter-spacing: 7px;
    margin-left: 0%;
    margin-top: 1.5%;
    margin-right: 2%;
    width: 100%;
    height: 70px;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
}

.title2 {
    color: #000000;
    font-family: Filson Soft;
    font-size: 80px;
    text-align: left;
    margin-right: 1.5%;
}

.image1 {
   height: 535px;
    margin-left: 70%;
}

 .wrapme {
    width: 95%;
    float: right;
    position: fixed;
    bottom: 1.5%;
    right: 6%
 }
 
.image2 {
    height: 400px;
}

.genres, .artists, .tracks {
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: #ffffff;
    color: rgba(28, 62, 239, 0.00);
    text-align: right;
    font-family: Pauline;
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.genres1, .artists1, .tracks1 {
    color: #1C3EEF;
    font-family: Filson Soft;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.genres {
    position: fixed;
    bottom: 25%;
    left: 5%;
}

.artists {
    position: fixed;
    bottom: 25%;
    left: 30%;
}
.tracks {
   position: fixed;
   bottom: 25%;
   left: 54%;
}


.chart {
  position: fixed;
  left: 2%;
  bottom: 0%;
}
  .genres .genretext {
    display: none;
    text-align: center;
    line-height: 25px;
    font-family: Filson Soft;
    font-size: 18px;
    position: absolute;
    bottom: 90%;
    left: 15%;
    right: 15%;
    background-color: #fff9f2;
    padding: 2em;
    min-width: 10rem;
  }
  .genres:hover .genretext {
    display: block;
  }
  
  .artists .artisttext {
    display: none;
    text-align: center;
    line-height: 25px;
    font-family: Filson Soft;
    font-size: 18px;
    position: absolute;
    bottom: 2%;
    left: 15%;
    right: 15%;
    background-color: #fff9f2;
    padding: 2em;
    min-width: 10rem;
  }
  .artists:hover .artisttext {
    display: block;
  }
  .tracks .tracktext {
    display: none;
    text-align: center;
    line-height: 25px;
    font-family: Filson Soft;
    font-size: 18px;
    position: absolute;
    top: 0%;
    left: 15%;
    right: 15%;
    background-color: #fff9f2;
    padding: 2em;
    min-width: 10rem;
  }
  .tracks:hover .tracktext { 
    display: block;
  }
  .rap {
    -webkit-text-fill-color: #FD05C6;
  }
  .jazz {
    -webkit-text-fill-color: #1C3EEF;
  }
  .pop {
    -webkit-text-fill-color: #66ff00;
  }
  .rb {
    -webkit-text-stroke-width: 0px;
    -webkit-text-fill-color: #000000;
    /* color: #ffff00 */
  }
  .rnb {
    -webkit-text-stroke: 0.75px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: yellow;
  }
  .rock {
    -webkit-text-fill-color: #33ffff;
  }
  .indie {
    -webkit-text-fill-color: #0099ff;
  }
 
  a {
    position: fixed;
    bottom: 3%;
    left: 3%;
    font-family: Filson Soft;
    font-size: 18px;
  }

  .circle1 {
    position: fixed;
    top: 35%;
    left: 2%;
  
  }
  .circle2 {
    position: fixed;
    top: 35%;
    left: 27%;
  }
  .circle3 {
    position: fixed;
    top: 35%;
    left: 50%;
  }
 