html {
    margin: 20px;
}

/* h1 {
    -webkit-text-fill-color: black;
    border-radius: 3px; 
    font-family: "ltc-francis", sans-serif;
    font-weight: 400;
    font-style: normal;
   
    font-size: 4vw;
    line-height: 70px;
    text-align: center;
    letter-spacing: 3px;
} */

.genres, .songs, .artists, .favorites, .averages {
    font-size: 3vw;
    font-family: "filson-soft", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 3.5vw;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 20px;
   
}

.genrestitle, .artiststitle, .songstitle, .favoritestitle, .averagestitle {
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    line-height: 5.2vw;
    padding: 40px;
    padding-bottom: 75px;
}


.genres {
    text-align: right;
    background-color: #d8b8ff;
}
.songs {
    background-color: #a2e6f5;
}

.artists {
    text-align: right;
    background-color: #a2d4a1;
}

.favorites {
    background-color: #f2a7e1;
}

.averages {
    text-align: right;
    background-color: #f5d59a
}

.previous,  .home {
    text-decoration: none;
    color: black;
    font-size: 36px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    font-family: "filson-soft", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.previous {
    top: 7%;
    left: 4%;
    border-bottom-left-radius: 10px;
}

.home {
    top: 7%;
    left: 13%;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 800px){
    .previous {
        top: 6%;
        left: 7%;
        
    }
    .home {
        top: 6%;
        left: 17%;
       
    }
    .genres, .songs, .artists, .favorites {
        
        border-radius: 25px;
        
       
    }
}
@media screen and (max-width: 600px){
    .previous {
        top: 6%;
        left: 7%;
        font-size: 20px;
    }
    .home {
        top: 6%;
        left: 17%;
        font-size: 20px;
    }

}
@media screen and (max-width: 500px){
    .previous {
        top: 6%;
        left: 8%;
        font-size: 20px;
        padding: 10px;
    }
    .home {
        top: 6%;
        left: 17%;
        font-size: 17px;
        padding: 10px;
    }

}