html {
  background-color: #b09fbf
}
body {
  margin: 0;
  font-family: "filson-soft", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.directions {
  font-size: 18px;
 position: absolute;
 right: 43%;
 

}

.title {
  -webkit-text-fill-color: black;
  border-radius: 3px; 
  font-family: "eight", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 150px;
}

.descrip {
  font-family: "filson-soft", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.marquee-link {
  text-decoration: none; 
  color: black; 
}
.marquee-link:hover {
  color: #614d73
}





.page-container, .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.navigation {
  position: absolute;
  top: 1%;
  width: 100%;
  z-index: 1000;
}

.navigation-container {
  display: grid;
  grid-template-columns:  1fr auto 1fr;
  gap: 10px;
  position: relative;
  align-items: center;
}

.navigation-item {
  text-align: center;
}

#date {
  grid-column: 2;
}

.home {
  text-decoration: none;
  color: black;
  font-size: 36px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  left: 2%;
  border-bottom-left-radius: 10px;
}

.home:hover, .previous:hover, .next:hover, #notes-tab:hover {
  background-color:#614d73
}


.previous, .next, .date {
  text-decoration: none;
  color: black;
  font-size: 36px;
  font-weight: 600;
  box-sizing: border-box;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}




.page-container-2 {
  display: none;
}

.grid-container {
  position: fixed;
  bottom: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  box-sizing: border-box;
  border: 6px solid white;
  border-radius: 200px;
  background-color: #e3e4e8;
  padding: 30px;
}

.grid-item {
  position: relative;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.circle {
  width: 350px; 
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}


.spin-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: spin 5s linear infinite; 
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px; 
  text-align: center;
  opacity: 0; 
  transition: opacity 0.5s ease;
  padding: 300px; 
  background-color: #513263; 
  width: 75%;

}

.grid-item:nth-child(2) .spin-image .center-text {
  background-color: #7a5796 
}

.grid-item:nth-child(3) .spin-image .center-text {
  background-color: #a079bf; 
}




.grid-item:hover .spin-image .center-text {
  opacity: 1;
}

.image1 {
  position: fixed;
  height: 400px;
  right: 89%;
  bottom: 0;
}

#notes-tab {
  font-family: "filson-soft", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  position: fixed;
  
  right: 2%;
  background-color: white;
  color: black;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 50px;
  border-bottom-right-radius: 10px;
  

}


#down-arrow {
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

#notes-content {
  font-family: "filson-soft", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  position: fixed;
  top: 100px;
  right: 2%;
  background-color: white;
  border: 2px solid #614d73;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50px;
  border-top-right-radius: 10px;
  
}

.hidden {
  display: none;
  
}

#down-arrow.up-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  border-bottom: none;
}
@media screen and (max-width: 1000px) {
  .circle {
    width: 300px;
    height: 300px;
  }
  .image1 {
    height: 350px;
  }
}
@media screen and (max-width: 900px) {
  .circle {
    width: 270px;
    height: 270px;
  }
  .image1 {
    height: 300px;
  }
  .title {
    font-size: 50px;
  }
  .home, .previous, .date, .next, #notes-tab {
    font-size: 28px;
  }
  .directions {
    right: 37%;
  }
  .center-text {
    font-size: 18px;
  }
  #notes-content {
    
    top: 85px;
  }
  
}
@media screen and (max-width: 790px) {
  .circle {
    width: 220px;
    height: 220px;
  }
  .image1 {
    height: 250px;
  }
  .title {
    font-size: 50px;
  }
  .home, .previous, .date, .next, #notes-tab {
    font-size: 20px;
  }
  .directions {
    right: 37%;
  }
  .center-text {
    font-size: 16px
  }
  #notes-content {
    font-size: 15px;
    top: 70px;
  }
  #notes-tab, .home {
    font-size: 20px;
    top: 10%;
  }
  
}
@media screen and (max-width: 680px) {

  .page-container{
    display: none;
    }
  .page-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    }
  .grid-container-2 {
    gap: 40px;
    box-sizing: border-box;
  border: 6px solid white;
  border-radius: 200px;
  background-color: #e3e4e8;
  padding: 30px;
  display: grid;
  
  }
  .circle {
    width: 300px;
    height: 300px;
  }
  .image1 {
    height: 300px;
    right: 80%;
  }
  .title {
    font-size: 50px;
  }
  .previous, .date, .next {
    font-size: 20px;
  }
  .directions {
    right: 37%;
  }
  .center-text {
    font-size: 16px
  }
  .directions {
    bottom: 85%;
    right: 33%
  }
  #notes-content {
    font-size: 15px;
    top: 70px;
  }
  #notes-tab, .home {
    font-size: 20px;
    top: 10%;
  }
}

@media screen and (max-width: 500px) {
 
  .title {
    font-size: 40px;
  }
  .descrip {
    font-size: 20px;
  }
  .directions {
    right: 20%;
    top: 17%
  }
  #notes-content {
    top: 120px;
  }
  .image1 {
    height: 190px;
    right: 75%
  }
  .circle {
    height: 220px;
    width: 220px;
  }
}
@media screen and (max-width: 350px) {


  .directions {
    right: 25%;
    bottom: 68%;
    font-size: 14px;
  }
  #notes-content {
    font-size: 12px;
    top: 120px;
  }
  .circle {
    height: 200px;
    width: 200px;
  }
  .image1 {
    height: 200px;
    right: 75%;
  }
  #notes-tab, .home {
    font-size: 15px;
    top: 15%;
  }
  #notes-content {
    top: 150px;
    font-size: 10px;
  }

}

@media screen and (max-width: 300px) {
  .circle {
    height: 190px;
    width: 190px;
  }
  #notes-tab, .home {
    top: 15%
  }
  .title {
    font-size: 25px
  }
  .directions {
    bottom: 68%;
    right: 20%;
  }
}