html {
    background-color: #b1bcfa;
}

.title {
    
    -webkit-text-fill-color: black;
    border-radius: 3px; 
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    line-height: 70px;
    text-align: center;
    letter-spacing: 3px;
   
    
}

.title2 {
    font-family: "ltc-francis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    line-height: 2.5vw;
    color: white;
    margin-right: 1.5%;
    position: absolute;
    top: 10%;
    left: 40%
}

.containersmall {
    display: none
}

.containerbig {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    box-sizing: border-box;
    border: 6px solid white;
    border-radius: 200px;
    background-color: #e3e4e8;


  }

.containerbig .genres .genretext {
    display: none;
}
.containerbig .genres:hover .genretext {
  display: block;
}
.containerbig .artists .artisttext {
  display: none;
}
.containerbig .artists:hover .artisttext {
  display: block;
}
.containerbig .tracks .tracktext {
  display: none;
}
.containerbig .tracks:hover .tracktext { 
  display: block; 
}

.vinyl1, .vinyl2, .vinyl3 {
    height: 500px;
}
.genredetails, .artistdetails, .trackdetails {
    height: 400px;
    position: fixed;
    top: 23%;
    padding-left: 44px;
    padding-bottom: 0px;

}

.previous  {
    position: fixed;
    bottom: 5%;
    left: 49%;
    text-decoration: none;
    color: black;

}

.next {
    position: fixed;
    bottom: 5%;
    left: 51%;
    text-decoration: none;
    color: black;
}

/* body {
    margin: 0;
    padding: 0;
} */

#notes-tab {
    font-family: "ltc-francis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    color: black;
    padding-left: 469px;
    padding-right: 10px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: transform 0.3s ease; /* Updated transition property for smooth animation */
}

#up-arrow {
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

#notes-content {
    font-family: "ltc-francis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    position: fixed;
    bottom: 49px;
    left: 0;
    background-color: #fff;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.hidden {
    display: none;
    
}

#up-arrow.down-arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    border-bottom: none;
}

@media screen and (max-width: 800px){
    .containerbig {
        display: none
    }
    .containersmall {
          display: grid;
          grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
          justify-items: center;
          box-sizing: border-box;
         border: 4px solid white;
         border-radius: 100px;
         background-color: #e3e4e8;
        }

    .vinyl1, .vinyl2, .vinyl3  {
        height: 300px;
    }

    .containersmall .genres .genretext {
        display: none;
    }
    .containersmall .genres:hover .genretext {
      display: block;
    }
    .containersmall .artists .artisttext {
      display: none;
    }
    .containersmall .artists:hover .artisttext {
      display: block;
    }
    .containersmall .tracks .tracktext {
      display: none;
    }
    .containersmall .tracks:hover .tracktext { 
      display: block; 
    }

    .genretext, .artisttext, .tracktext {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
          justify-items: center;

    }
    /* .genredetails {
       
        height: 250px;
        position: absolute;
        left: 16%;
        top: 20%;
        
    }

    .artistdetails {
        height: 250px;
        position: absolute;
        left: 16%;
        top: 59%;
        
    }

    .trackdetails {
        height: 250px;
        position: absolute;
        left: 16%;
        top: 99%;
    } */

    .title {
        font-size: 10vw
    }

    .title2 {
        font-size: 9vw;
        left: 30%;
    }

    #notes-tab {
        
        font-size: 36px;
        
        padding-left: 200px;
        padding-right: 10px;
        
    }

    #notes-content {
        
        font-size: 21px;
        
        
    }

    .previous  {
        position: fixed;
        bottom: 2%;
        left: 82%;
    
    }
    
    .next {
        position: fixed;
        bottom: 2%;
        left: 87%;
    }    

    
}

