/* my code is very similar for most entries, so my only comments are in homepage.html, homepage.css,
entry1.html, entry1.css, entry10.html, entry10.css, and entry9.js. */

html{
    background-color: #7d9ec9

}

/* hiding container for small screen */
.containersmall{
    display: none
}


.title {
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
     font-size: 5vw;
     letter-spacing: 3px;
  
     text-align: center;
     z-index: 2;
     left: 8%;
     -webkit-text-fill-color: black;
     position: fixed; /* Change from fixed to absolute */
     top: 5%; /* Adjust as needed */
     box-sizing: border-box;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

     

}



.body {
    margin: 0;

}

/* displaying pngs as grid */
.containerbig {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; 
    width: 100%; 
    margin: auto;

    position: absolute;
    top: 30%;
}

.link1, .link2, .link3, .link4, .link5, .link6, .link7, .link8, .link9 {
    text-align: center;
}

.week1, .week2, .week3, .week4, .week5, .week6, .week7, .week8, .week9 {
    width: 400px; 
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
    animation-play-state: paused;
}

/* spinning animation on hover */
.week1:hover, .week2:hover, .week3:hover, .week4:hover, .week5:hover, .week6:hover, .week7:hover, .week8:hover, .week9:hover {
    animation: spin 10s linear infinite;
}

.week1.hovered {
    transform: rotate(360deg);
    transition: none; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}






a {
 color: black;
 text-decoration: none;
}

.end {
    text-decoration: none;
    color: black;
    font-size: 36px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "filson-soft", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-bottom-right-radius: 10px;
    position: fixed;
   right: 4%;
   bottom: 7%;
   
   
   
   
}

.end:hover {
    background-color: #9599a1;
}


/* media queries */
@media screen and (max-width: 800px) {
    .containerbig {
        gap: 10px;
    }
    .title {
        left: 4%;
    }
}
@media screen and (max-width:600px) {
    .containerbig {
        display: none
    }
    .containersmall{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
     gap: 50px; /* Adjust the gap between items as needed */
     width: 100%; 
     margin: auto;

     position: absolute;
     top: 30%;
    }
    .week1, .week2, .week3, .week4, .week5, .week6, .week7, .week8, .week9 {
        width: 300px;
    }
    .title {
        left: 0%;
    }
}